<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>#SahabatIG</title>
    <!-- Bootstrap core CSS -->
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>

    <!-- navbar -->

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">#SahabatIG</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="#" data-toggle="modal" data-target="#addurl">Add link</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- content -->

    <div class="container">

      <h1>Halo Dunia!</h1>

      <hr>

      <div class="row">

        <!-- repeat from here here -->

        <div class="col-md-2 col-sm-3">
          <div class="panel panel-default panel-pic">
            <div class="panel-body">

              <!-- profile picture -->
              <img src="https://scontent-sit4-1.cdninstagram.com/t51.2885-19/s150x150/13388597_804175539713576_1519428004_a.jpg" class="img-responsive">
            </div>
            <div class="panel-footer text-left">

              <!-- url and username -->
              <a href="https://www.instagram.com/enggarniken/">Enggar Niken</a>
            </div>
          </div>
        </div>


        <div class="col-md-2 col-sm-3">
          <div class="panel panel-default panel-pic">
            <div class="panel-body">

              <!-- profile picture -->
              <img src="https://scontent-sit4-1.cdninstagram.com/t51.2885-19/s150x150/13413277_170656213337504_484108207_a.jpg" class="img-responsive">
            </div>
            <div class="panel-footer text-left">

              <!-- url and username -->
              <a href="https://www.instagram.com/gitayol/">Gita Yolanda</a>
            </div>
          </div>
        </div>

        <div class="col-md-2 col-sm-3">
          <div class="panel panel-default panel-pic">
            <div class="panel-body">

              <!-- profile picture -->
              <img src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/10597268_159740644387977_1774078794_a.jpg" class="img-responsive">
            </div>
            <div class="panel-footer text-left">

              <!-- url and username -->
              <a href="https://www.instagram.com/izazayabinta/">Izazaya Binta</a>
            </div>
          </div>
        </div>

        <div class="col-md-2 col-sm-3">
          <div class="panel panel-default panel-pic">
            <div class="panel-body">

              <!-- profile picture -->
              <img src="https://scontent-sit4-1.cdninstagram.com/t51.2885-19/s150x150/13259548_274304082918201_732142586_a.jpg" class="img-responsive">
            </div>
            <div class="panel-footer text-left">

              <!-- url and username -->
              <a href="https://www.instagram.com/saniaisyana/">SANIA KURNIAVI ISYANA</a>
            </div>
          </div>
        </div>

        <div class="col-md-2 col-sm-3">
          <div class="panel panel-default panel-pic">
            <div class="panel-body">

              <!-- profile picture -->
              <img src="https://scontent-sit4-1.cdninstagram.com/t51.2885-19/s150x150/13167462_268853406792107_1306677124_a.jpg" class="img-responsive">
            </div>
            <div class="panel-footer text-left">

              <!-- url and username -->
              <a href="https://www.instagram.com/rusinthamahay/">Rusintha Mahayusanty N</a>
            </div>
          </div>
        </div>

        <div class="col-md-2 col-sm-3">
          <div class="panel panel-default panel-pic">
            <div class="panel-body">

              <!-- profile picture -->
              <img src="https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-19/s150x150/13398610_1264072366938867_1901434509_a.jpg" class="img-responsive">
            </div>
            <div class="panel-footer text-left">

              <!-- url and username -->
              <a href="https://www.instagram.com/miraans_/">Mira Annisa</a>
            </div>
          </div>
        </div>


      </div> <!-- /.row -->


    </div><!-- /.container -->

    <!-- Modal -->
    <div class="modal fade" id="addurl" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Url</h4>
          </div>
          <div class="modal-body">
            
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">URL</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="URL">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Notes</label>
                <div class="col-sm-10">
                  <textarea class="form-control"></textarea>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger">Save Url</button>
            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
